body {
    background-image: url(ab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    border: 4px solid #ccc;
    padding: 35px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}


#click {
    color: rgb(134, 130, 130);
}

#email {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

#senha {
    color: rgb(0, 0, 0);
}

#inpass {
    color: rgb(134, 130, 130);
    width: 400px;
    border-color: black;
    border-radius: 20px;
}

#inemail {
    color: rgb(134, 130, 130);
    width: 400px;
    border-color: black;
    border-radius: 20px;
}

#box {
    margin-left: -23.5px;
}   

#all {
    width: 450px; 
    height: 270px; 
}